<div>
	<div class="stripe contact">
		<div>
			<span>Andrew Pepler</span>
		</div>
		<div class="email">
			<span><a href="mailto:<%= "andrew@vertism.com".reverse %>"><%= "andrew@vertism.com".reverse %></a></span>
		</div>
		<div>
			<span><a href="http://twitter.com/vertism">@vertism</a></span>
		</div>
	</div>

	<div class="stripe recent">
		<div>
			<span><%= @summary %></span>
		</div>
		<div>
			<span><%= @lastTrack %></span>
		</div>
	</div>

	<div class="stripe links">
		<div>
	  		<span><a href="http://OfTheWeek.info">Of The Week</a></span>
		</div>
		<div>
	  		<span><a href="http://github.com/vertism">GitHub</a></span>
		</div>
	</div>

	<div class="stripe more"></div>
</div>