<div class="stripe" id="contact">
	Andrew Pepler
</div>

<div class="stripe" id="recent">
	<%= @summary %>
	<br />
	<%= @lastTrack %>
</div>

<div class="stripe" id="links">
  <a href="http://OfTheWeek.info">Of The Week</a>
  <br />
  <a href="http://github.com/vertism">GitHub</a>
</div>