<div>
	<div class="stripe contact">
		<div>
			<span>Andrew Pepler</span>
		</div>
		<div class="email">
			<span>
			  <a href="mailto:&#097;&#110;&#100;&#114;&#101;&#119;&#064;&#118;&#101;&#114;&#116;&#105;&#115;&#109;&#046;&#099;&#111;&#109;">
			    &#097;&#110;&#100;&#114;&#101;&#119;&#064;&#118;&#101;&#114;&#116;&#105;&#115;&#109;&#046;&#099;&#111;&#109;
			    </a>
			</span>
		</div>
		<div>
			<span><a href="http://twitter.com/vertism">@vertism</a></span>
		</div>
	</div>

	<div class="stripe recent">
		<div>
			<span><%= @up %></span>
		</div>
		<div>
			<span><%= @music %></span>
		</div>
	</div>

	<div class="stripe links">
		<div>
	  		<span><a href="http://OfTheWeek.info">Of The Week</a></span>
		</div>
		<div>
	  		<span><a href="http://github.com/vertism">GitHub</a></span>
		</div>
	</div>

	<div class="stripe more">
	  <span>My last tweets were</span>
	  <% @tweets.each do |tweet| %>
	      <span><%= tweet %></span>
	  <% end %>
	</div>
</div>