body {
	margin:0;
	padding:0;
	font-family: 'Francois One', sans-serif;
	font-size:20px;
	line-height:33px;
}

a, a:hover {
	background:white;
	text-decoration:none;
	color:blue;
}

span {
	background:white;
	padding:0 3px;
}

.email {
	unicode-bidi:bidi-override;
	direction:rtl;
}

@mixin bar ($colour, $border-width, $direction:left) {
	$pseudo:before;
	$oppdirection:right;
	
	@if $direction != left {
		$pseudo:after;
		$oppdirection:left;
	}
	
	text-align:$direction;
	position:relative;
	background:$colour;
	margin-#{$direction}:$border-width * 2;
	
	&:#{$pseudo} {
		position:absolute;
		content:"";
		height:0;
		width:0;
		border-top:$border-width solid transparent;
		border-bottom:$border-width solid transparent;
		border-#{$oppdirection}:$border-width solid $colour;
		#{$direction}:-$border-width;
		top:0px;
	}
}

.stripe {
	height:100px;
	padding:5px;
	
	$colour1:#2D3793;
	$colour2:#99B02D;
	$colour3:#C3042F;
	$colour4:#002C45;
	
	$border-width:55px;
		
	&.contact {
		@include bar($colour1, $border-width, right)
	}
	&.recent {
		@include bar($colour2, $border-width, left)
	}
	&.links {
		@include bar($colour3, $border-width, right)
	}
	&.more {
		@include bar($colour4, $border-width, left)
	}
}
